body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
}

.container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    margin: auto;
    width: 350px;
    height: 68%;
    overflow: hidden;

    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;

    justify-content: center;
    /* align-items: center; */
    align-content: center;

    /* horizontal, vertical, blur, spread */
    /* box-shadow: 0px 40px 0px 20px hsl(215, 59%, 10%), 0px 50px 0px 50px hsl(216, 57%, 12%); */
}

.image-container{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.image-main{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.image-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.overlay {
    background-color: hsl(178, 100%, 50%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.image-container:hover .overlay{
    opacity: 0.5;
}

.image-container:hover .image-view{
    display: block;
}

.header{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 24px;
}

.header:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.text{
    color:hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 20px;
}

.data{
    align-items:center;
    justify-content: space-between;
    display: flex;
}

.section{
    align-items:center;
    display: flex;
    gap: 6px;
    margin-bottom: 15px;
}

.eth{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.days{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

hr.line{
    border: 1px solid hsl(215, 32%, 27%);
}

.profile{
    align-items:center;
    display: flex;
    margin-top: 20px;
}

.profile img{
    width: 12%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 20px;
}

.profile-text{
    color:hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 18px;
}

.profile b{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.profile b:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}